.card {
  height: 250px;
  position: relative;
  width: 325px;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.card > .img-container > img {
  width: 60%;
}
